<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>PRODUCT STATUS</title>
</head>
<body>

    <!-- this page will be rendered when the user forgets the password and the user wants to change the password -->
    <center><h1>Product added successfully</h1></center>
    <div class="emailverifymsg">
        <h1><%= data %></h1>
       
    </div>
</body>
</html>