<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/form.css">
    <title></title>
</head>

<body>

    <!-- checking for the error  -->
    <% if(err){%>
        <h2 class="error">
            <%= err %>
        </h2>
        <%}%>
            <center>

                <div class="login_container"><br>

                    <center>
                        <h1>SignUp</h1>
                    </center><br><br>
                    <!-- signup form starts  -->
                    <form action="/adminsignup" method="post" id="login_form">
                        <div>
                            <label for="username">Enter Name:</label><br>
                            <input type="text" name="username" id="username" class="inp_field" placeholder="username"
                                required>
                        </div><br>

                        <div>
                            <label for="email">Enter Email ID:</label><br>
                            <input type="email" name="email" id="email" class="inp_field" placeholder="email" required>
                        </div><br>


                        <div>
                            <label for="password">Enter Password:</label><br>
                            <input type="password" name="password" id="password" class="inp_field"
                                placeholder="must be of atleast 8 characters" required>
                        </div><br><br>

                        <div>
                            <input type="submit" name="submit" id="submit" value="Submit">
                        </div><br>
                    </form>

                    <a href="/adminlogin" id="signup">Login</a>
                </div>
            </center>
</body>

</html>