<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/form.css">
    <title></title>
</head>

<body>

    <!-- if the error occur then error will be displayed  -->
    <% if(err) { %>
        <h2 style="background-color: rgb(255, 78, 78);">
            <%= err %>
        </h2>
        <% } %>
            <center>

                <div class="login_container"><br>


                    <center>
                        <h1>Change Password</h1>
                        <h5>Password must be of atleast 8 characters</h5>
                    </center><br><br>
                    <!-- update password form starts  -->
                    <form id="change_password_form">
                        <br>
                        <div>
                            <label for="newpassword">Enter new password:</label><br>
                            <input type="password" name="newpassword" id="newpassword" class="inp_field"
                                placeholder="new password" required>
                        </div><br><br>

                        <div>
                            <label for="confirmpassword">Confirm password:</label><br>
                            <input type="password" name="confirmpassword" id="confirmpassword" class="inp_field"
                                placeholder="confirm password" required>
                        </div>
                        <br><br>
                        <div>
                            <input type="submit" name="submit" id="submit" value="UPDATE">
                        </div><br>
                    </form>

                </div>
            </center>
</body>
<%- include ("scripts/changepswrdform") %>
</html>