<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Change password</title>
</head>
<body>

    <!-- this page will be rendered when the user forgets the password and the user wants to change the password -->
    <center><h1>CHANGE PASSWORD</h1></center>
    <div class="emailverifymsg">
        <h1>Change your password</h1>
        <h2>We have sent you an email on your registered mail Id. Please change your password from the provided link in the mail.</h2>
    </div>
</body>
</html>