@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    margin: 0 auto;
    padding: 20px 100px;
}

.card {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    background: #ffffff;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    box-shadow:  18px 17px 4px rgb(22 22 22 / 21%);
}

.card:last-child{
    margin-bottom: 0;
}

.card .card-image {
    padding: 5px;
}

.card .card-image img {
    height: 200px;
    border-radius: 5px;
}

.details{
    /* flex: 1;
    display: flex; */
    /* align-items: center;
    justify-content: flex-start; */
    width: 40%;
    padding: 5px;
}
.viewdetails{
    text-decoration: underline;
    cursor: pointer;
    color: #ff6680;
    font-size: larger;
    font-weight: bold;
}

.viewdetails:hover{
    color: black;
}

.card .inc-dec{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.btn{
    margin-top: 0%;
    width: 40%;
    margin-left: 7%;
}

.button{
    display: inline-block;
    width: 102px;
    height: 32px;
    text-align: center;
    /* margin-top: 2%; */
    margin-right: 2%;
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: rgb(255 137 137);
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(56 48 48 / 81%);
    color: white;
    font-size: 25px;
    box-shadow: white 4px 4px 4px;
}

.rem-btn{
    margin-left: 72%;
background-color: #444;
color: #fff;
}

.card .buy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card button {
    border-radius: 2px;
}

.card button:hover {
    cursor: pointer;
}

footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* height: 10%; */
    background-color: #ff6680;
    color: white;
    text-align: center;
  font-size: 50px;
  margin-bottom: 5%;
}


@media (max-width : 920px) {
    .container {
        padding: 20px;
    }
}

@media (max-width : 800px) {
    .card {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card h1 {
        margin: 0;
        text-align: center;
    }
    /* .card .inc-dec {
    }
    .card .buy-button {
    } */
}

@media (max-width : 470px) {
    .card .card-image img {
        width: auto;
        height: 150px;
    }
}

@media (max-width : 368px) {
    .card .card-image img {
        width: auto;
        height: 120px;
    }
}