/* contains the styling of login and signup page */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=PT+Sans&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}

.login_container {

    width: 400px;
    height: 500px;
    background-color: #ff6680;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    box-shadow: #8aa199 10px 10px 10px;

}

#submit {
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 7px;
    margin-right: 2%;
    padding-top: 2px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #ffe6d0;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(19, 134, 19);
    color: white;
    box-shadow: white 4px 4px 4px;
}


.inp_field {
    height: 30px;
    width: 250px;
    border: 2px solid green;
    border-radius: 20px;
    padding-left: 10px;

}


#login_form {
    font-size: 20px;
    /* margin-top: 10px; */
}


#signup{
    color: white;
}

.error{
    height: 30px;
    text-align: center;
    background-color: rgb(255, 111, 111);
    border: 3px solid red;
}
/* #login_form{
    background-color: ;
} */